<section class="boekenlijst">
    <h1>Boekenlijst</h1>
    <table class="booklist">
        <tr>
            <th>Titel</th>
            <th>Auteur</th>
            <th>Genre</th>            
        </tr>
        {{#each data as |boek|}}
        <tr>
            <td>{{boek.titel}}</td> 
            <td>{{boek.auteur}}</td> 
            <td>{{boek.genre}}</td>
            <td>
                <form action="/deleteBook" method="POST">
                    <button type="submit" class="remove" name="id" value={{boek._id}}>delete</button>
                </form>
            </td>
        </tr>
        {{/each}}
    </table>
</section>

<section class="update">
    <h2>Update boekenlijst</h2>
    <form action="/updateBoek" method="post">
        <label for="">
             Kies een boek <select class="input input-drop" name="id" id="id">
            {{#each data as |boek|}} 
            <option value="{{boek.titel}}">{{boek.titel}}</option>
            {{/each}}
          </select>
        </label>
        <div class="input-update">
            <label>Titel</label>
            <input type="text" name="titel" required>
        </div>
        <div class="input-update">
            <label>Auteur</label>
            <input type="text" name="auteur" required>
        </div>
        <div class="input-update">
            <label>Genre</label>
            <input type="text" name="genre" required> 
        </div>
        <button type="submit" class="btn-update">Update</button>
    </form>


</section>